/* color palatte */
:root{
  --theme-red-blur: #C44261;
  --theme-purple: #854985;
  --twitter: #1DA1F2;
  --linkedin: #0077B5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Proxima Nova Alt";
  /*a name to be used later*/
  src: url('./constants/fonts/Proxima\ Nova\ Alt\ Regular.otf');
  /*URL to font*/
}

html, body {
  height: 100%;
  width: 100%;
  font-family: proxima-nova, sans-serif;
  color: #313e49;
}

#root{
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style-type: none;
}

img{
  display: block;
  max-width: 100%;
}

/* classes */
.blur-up{
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: 'filter 400ms, -webkit-filter 400ms';
}

.blur-up.lazyloaded{
  -webkit-filter: blur(0);
  filter: blur(0);
}